@charset "UTF-8";
@import '/fonts/arnhem/stylesheet.css';
@import '/fonts/haas/stylesheet.css';
html *:where(:not(audio, canvas, iframe, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: revert;
}

details summary,
menu,
ol,
ul {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

::placeholder {
  all: unset;
}

iframe {
  border: unset;
}

/* Disclosure triangles. */
details ::marker,
details ::-webkit-details-marker {
  display: none;
}

:root, h1,
h2, body.home header article {
  --typography--shoulder: calc(1 - var(--typography--cap-height));
  --typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

h1,
h2, body.home header article {
  --typography--cap-height: 0.621;
  --typography--x-height: 0.456;
  --typography--shoulder--bottom: 0.265;
  --typography--inset--left: 0;
  --typography--inset--right: 0;
  --typography--tracking: -0.0222;
  --typography--underline: 0.06;
  --typography--underline--shift: -0.06;
  font-family: "Arnhem", serif, sans-serif;
}

:root {
  --typography--cap-height: 0.744;
  --typography--x-height: 0.537;
  --typography--shoulder--bottom: 0.133;
  --typography--inset--left: 0;
  --typography--inset--right: 0;
  --typography--tracking: 0.0;
  --typography--underline: 0.06;
  --typography--underline--shift: -0.06;
  font-family: "NeueHaas", sans-serif;
}

a, button:not([disabled]) {
  --typography--decoration-thickness: calc(var(--typography--underline) * 1em);
  --typography--underline-offset: calc(var(--typography--underline--shift) * 1em);
  text-decoration-color: var(--color);
  text-decoration-line: underline;
  text-decoration-thickness: var(--typography--decoration-thickness);
  text-underline-offset: calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
}

.no-underline {
  text-decoration: initial;
}

:root {
  font-feature-settings: "liga", "kern";
  font-size: 62.5%;
}

:root * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-kerning: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

em, article aside,
em em em,
article aside em em,
em article aside em,
article em aside em,
article aside aside em {
  font-style: italic;
}

em em, article aside em, em article aside, article em aside, article aside aside {
  font-style: normal;
}

del {
  font-style: line-through;
}

nobr,
.nowrap {
  white-space: nowrap;
}

strong {
  --typography--weight: bold;
}

article ul > dt,
article ul > dd,
article ul > li,
article ol > dt,
article ol > dd,
article ol > li,
article dl > dt,
article dl > dd,
article dl > li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  --typography--tracking--override: var(--typography--tracking);
  --typography--letter-spacing: calc(var(--typography--tracking--override, var(--typography--tracking, 0)) * 1em);
  --typography--margin--left: calc(var(--typography--inset--left) * 1em);
  --typography--margin--right: calc(var(--typography--inset--right) * 1em);
}

body.about .about__container, body.home main .work, body.home main .work__list li, nav a:first-of-type, article, article ul,
article ol,
article dl, figure, a:focus-visible, button:not([disabled]):focus-visible, svg.sprite--circle, svg.sprite--close, svg.sprite--arrow, svg.sprite--moma, article ul > dt,
article ul > dd,
article ul > li,
article ol > dt,
article ol > dd,
article ol > li,
article dl > dt,
article dl > dd,
article dl > li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  --typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
  --typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
  --typography--leading--remainder: calc((var(--typography--leading) - 1) / 2);
  --typography--shift: calc((var(--typography--shoulder) + var(--typography--shoulder--top)) * (1 - var(--typography--scale, 1)));
  --typography--leading--bottom: calc(var(--typography--shoulder--bottom) + var(--typography--leading--remainder) + var(--typography--shift, 0));
  --typography--leading--top: calc(var(--typography--shoulder--top) + var(--typography--leading--remainder) - var(--typography--shift, 0));
  --typography--margin--bottom: calc(-1 * var(--typography--leading--bottom) * var(--typography--size--override, var(--typography--size)));
  --typography--margin--top: calc(-1 * var(--typography--leading--top) * var(--typography--size--override, var(--typography--size)));
}

article ul > dt,
article ul > dd,
article ul > li,
article ol > dt,
article ol > dd,
article ol > li,
article dl > dt,
article dl > dd,
article dl > li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  color: var(--color);
  display: block;
  font-size: var(--typography--font-size);
  font-weight: var(--typography--weight);
  letter-spacing: var(--typography--letter-spacing);
  line-height: var(--typography--line-height);
  margin-left: var(--typography--margin--left);
  margin-right: var(--typography--margin--right);
  max-width: calc(100% - var(--typography--margin--left) - var(--typography--margin--right) + 1px);
  overflow-wrap: break-word;
}
@supports (display: flow-root) {
  article ul > dt,
article ul > dd,
article ul > li,
article ol > dt,
article ol > dd,
article ol > li,
article dl > dt,
article dl > dd,
article dl > li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
    display: flow-root;
  }
}
article ul > dt:before,
article ul > dd:before,
article ul > li:before,
article ol > dt:before,
article ol > dd:before,
article ol > li:before,
article dl > dt:before,
article dl > dd:before,
article dl > li:before, article ul > dt:after,
article ul > dd:after,
article ul > li:after,
article ol > dt:after,
article ol > dd:after,
article ol > li:after,
article dl > dt:after,
article dl > dd:after,
article dl > li:after,
h1:before,
h1:after,
h2:before,
h2:after,
h3:before,
h3:after,
h4:before,
h4:after,
h5:before,
h5:after,
h6:before,
h6:after,
p:before,
p:after,
td:before,
td:after {
  content: "";
  display: block;
  visibility: hidden;
}
article ul > dt:before,
article ul > dd:before,
article ul > li:before,
article ol > dt:before,
article ol > dd:before,
article ol > li:before,
article dl > dt:before,
article dl > dd:before,
article dl > li:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
p:before,
td:before {
  margin-top: calc(var(--typography--margin--top) - var(--typography--margin--top--shift, 0) * var(--typography--size--override, var(--typography--size)));
}
article ul > dt:after,
article ul > dd:after,
article ul > li:after,
article ol > dt:after,
article ol > dd:after,
article ol > li:after,
article dl > dt:after,
article dl > dd:after,
article dl > li:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
p:after,
td:after {
  margin-bottom: var(--typography--margin--bottom);
}

td {
  display: table-cell;
}

body.about .about__container, body.home main .work, body.home main .work__list li, nav a:first-of-type, article, article ul,
article ol,
article dl, figure, a:focus-visible, button:not([disabled]):focus-visible, svg.sprite--circle, svg.sprite--close, svg.sprite--arrow, svg.sprite--moma {
  --typography--cap: calc(var(--typography--cap-height) * 1em);
  --typography--between: calc(var(--typography--font-size) * (var(--typography--leading) + var(--typography--shoulder) - 1));
  line-height: var(--typography--line-height);
  font-size: var(--typography--font-size);
}

svg.sprite--circle {
  width: var(--typography--cap);
  height: var(--typography--cap);
  fill: var(--color--blue);
}

svg.sprite--close {
  --typography--size: var(--typography--size--h2);
  width: var(--typography--cap);
  height: var(--typography--cap);
  stroke: var(--color--black);
  stroke-width: 0.08em;
}

svg.sprite--arrow {
  width: calc(1 * var(--typography--cap));
  height: calc(1 * var(--typography--cap));
  fill: none;
  stroke: var(--color--blue);
  stroke-width: 0.08em;
  display: inline-block;
  overflow: visible;
}
svg.sprite--arrow.upper-right {
  transform: rotate(-45deg);
}
a svg.sprite--arrow {
  margin-left: calc(0.25 * var(--typography--cap));
}

svg.sprite--moma {
  height: calc(1.5 * var(--typography--cap));
}

a:has(svg) nobr {
  white-space: nowrap;
}

a, button:not([disabled]) {
  color: var(--color--link, var(--color--blue));
  display: inline-block;
  cursor: pointer;
}
a:visited, button:not([disabled]):visited {
  color: var(--color--link, var(--color--blue));
}
a:hover, button:not([disabled]):hover {
  text-decoration: none;
}
a:focus-visible, button:not([disabled]):focus-visible {
  outline: calc(var(--typography--underline) * 2em) solid rgba(0, 0, 0, 0.7);
  outline-offset: calc(var(--typography--underline--shift) * -1em);
  border-radius: 0.25rem;
}
a:has(img, video):focus-visible, button:not([disabled]):has(img, video):focus-visible {
  outline-offset: calc(0.5 * var(--typography--cap));
}

figure {
  --typography--size: var(--typography--size--caption);
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--typography--cap);
}
figure button {
  width: 100%;
  height: 100%;
}
figure img, figure video {
  max-height: 70vh;
  width: auto;
}

div.image-mat {
  width: 100%;
  height: 100%;
  background-color: var(--mat-color, #eee);
  padding: calc(1 * var(--gutter));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.image-mat:not(.plain) img, div.image-mat:not(.plain) video {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1%/1.5%;
}

.lightbox {
  z-index: 2;
  --margin--top: 0;
  background-color: var(--color--white);
  position: fixed;
  inset: 0;
  color: var(--color--black);
  padding: calc(2 * var(--gutter));
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox__close {
  position: absolute;
  top: var(--gutter);
  right: var(--gutter);
}
.lightbox div.image-mat {
  max-width: 100%;
  max-height: 100%;
  width: unset;
  height: unset;
  aspect-ratio: 3/2;
}
.lightbox div.image-mat img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.lightbox > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
}

nav, section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

body {
  background-color: var(--color--white);
}

main {
  padding: var(--gutter);
  background-color: var(--color--white);
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gutter));
  min-height: 100vh;
}
@supports (height: 100lvh) {
  main {
    min-height: 100lvh;
  }
}
main > section:last-of-type {
  margin-top: auto;
}

article {
  --typography--leading-shoulder: calc(var(--typography--between) + var(--typography--line-height));
}
article > *:not(:first-child) {
  margin-top: var(--margin--top, var(--typography--leading-shoulder));
}
article > figure {
  --margin--top: calc(2 * var(--gutter));
}
article > figure + * {
  --margin--top: calc(2 * var(--gutter));
}
article h2 {
  --margin--top: calc(2 * var(--gutter));
}
article h3 {
  --margin--top: calc(var(--typography--between) + (var(--typography--line-height) * 2));
}
article p {
  max-width: 75ch;
}
article aside {
  --margin--top: calc(var(--typography--between) + (var(--typography--line-height) * 2));
}
article hr {
  --margin--top: calc(2 * var(--gutter));
}
article ul,
article ol {
  gap: var(--typography--between);
}
article dl {
  gap: var(--typography--leading-shoulder);
}
article ul,
article ol,
article dl {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  list-style-position: outside;
}
article ul > dt,
article ul > dd,
article ul > li,
article ol > dt,
article ol > dd,
article ol > li,
article dl > dt,
article dl > dd,
article dl > li {
  margin-bottom: var(--typography--margin--bottom);
  margin-top: var(--typography--margin--top);
}
article ul > dt:before, article ul > dt:after,
article ul > dd:before,
article ul > dd:after,
article ul > li:before,
article ul > li:after,
article ol > dt:before,
article ol > dt:after,
article ol > dd:before,
article ol > dd:after,
article ol > li:before,
article ol > li:after,
article dl > dt:before,
article dl > dt:after,
article dl > dd:before,
article dl > dd:after,
article dl > li:before,
article dl > li:after {
  display: none;
}
article ul > dt,
article ul > li,
article ol > dt,
article ol > li,
article dl > dt,
article dl > li {
  display: list-item;
}
article ul,
article dl {
  list-style-type: "–";
  padding-left: 0.5em;
}
article ul > li {
  padding-left: 0.666em;
}
article figure img {
  object-fit: contain;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
  background-color: var(--color--white);
}
nav a:first-of-type {
  display: inline-flex;
  align-items: center;
  gap: var(--typography--cap);
}
nav a p {
  margin: unset;
}
nav ul {
  margin: unset;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer p {
  margin: unset;
}

main footer {
  margin-top: calc(2 * var(--gutter));
}

:root {
  --card--main--height: 80vh;
  --card--footer--height: 10vh;
}
@supports (height: 100svh) {
  :root {
    --card--main--height: 80svh;
    --card--footer--height: 10svh;
  }
}

body.home header {
  --color: var(--color--white);
  --color--link: var(--color--white);
  background-color: var(--color--blue);
  display: grid;
  position: fixed;
  inset: 0;
  z-index: -1;
  grid-template-rows: var(--card--main--height) 1fr var(--card--footer--height);
  transition: var(--transition);
}
body.home header > * {
  padding: var(--gutter);
  display: flex;
  align-items: center;
  opacity: 1;
  transition: var(--transition);
}
body.home header div:first-of-type {
  grid-row: span 1;
}
body.home header div:last-of-type {
  grid-row: 3/span 1;
  opacity: 0;
}
body.home header article {
  --typography--leading: var(--typography--leading--heading);
  --typography--size: var(--typography--size--card);
}
body.home header article h1 {
  --typography--size: var(--typography--size--card);
}
body.home header.show-footer div:first-of-type {
  opacity: 0;
}
body.home header.show-footer div:last-of-type {
  opacity: 1;
}
body.home header + main {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body.home nav span.nav__name {
  display: none;
}
body.home main {
  margin-top: var(--card--main--height);
  margin-bottom: var(--card--footer--height);
  gap: calc(4 * var(--gutter));
}
body.home main > section:last-child {
  margin-top: unset;
}
body.home main .work {
  display: flex;
  flex-direction: column;
  row-gap: var(--gutter);
}
body.home main .work__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--gutter);
}
@media (min-width: 768px) {
  body.home main .work__list {
    grid-template-columns: repeat(var(--grid, 2), minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  body.home main .work__list li {
    grid-column: span var(--span, 1);
  }
}
body.home main .work__list li a {
  color: currentColor;
  display: grid;
  gap: calc(0.5 * var(--gutter));
  grid-template-rows: fit-content 1fr;
}
body.home main .work__list li a > figure {
  aspect-ratio: 3/2;
}
body.home main .work__list li a > figure > img, body.home main .work__list li a > figure > button > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.home main .work__list li a > figure .image-mat img {
  max-width: 100%;
  max-height: 100%;
}
body.home main .work__list li h3 {
  color: var(--color--blue);
}
body.home main .work__list li h3 + p {
  margin-top: var(--typography--between);
}
body.home main .chronology {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gutter));
}
body.home main .chronology dl {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
@media (min-width: 768px) {
  body.home main .chronology dl {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}
body.home main .chronology dl dt {
  padding-top: calc(1 * var(--gutter));
  border-top: 1px solid black;
  display: grid;
  gap: var(--gutter);
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}
@media (min-width: 768px) {
  body.home main .chronology dl dt {
    padding-top: calc(0.5 * var(--gutter));
    padding-bottom: calc(0.5 * var(--gutter));
  }
  body.home main .chronology dl dt:last-of-type {
    border-bottom: 1px solid black;
  }
}
body.home main .chronology dl dd {
  padding-top: calc(1 * var(--gutter));
  padding-bottom: calc(1 * var(--gutter));
}
body.home main .chronology dl dd:last-of-type {
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
  body.home main .chronology dl dd {
    padding-top: calc(0.5 * var(--gutter));
    padding-bottom: calc(0.5 * var(--gutter));
    border-top: 1px solid black;
    padding-left: var(--gutter);
  }
}
body.home main .chronology dl dd + dd {
  border-top: none;
  padding-left: unset;
  padding-top: unset;
}
@media (min-width: 768px) {
  body.home main .chronology dl dd + dd {
    grid-column: span 2;
  }
}
body.home main .chronology dl dd + dd ul {
  display: flex;
  gap: calc(0.5 * var(--gutter));
  overflow-x: scroll;
  overflow-y: hidden;
}
body.home main .chronology dl dd + dd ul li {
  flex-shrink: 0;
  height: calc(7 * var(--gutter));
}
body.home main .chronology dl dd + dd ul li > figure {
  height: 100%;
}
body.home main .chronology dl dd + dd ul li > figure img {
  height: 100%;
  width: auto;
}

body.about .about__container {
  display: grid;
  align-items: start;
  grid-template-areas: "portrait" "about";
  column-gap: var(--gutter);
  row-gap: calc(var(--typography--between) + var(--typography--line-height));
}
@media (min-width: 768px) {
  body.about .about__container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas: "portrait about";
  }
}
body.about .about__container article {
  grid-area: about;
}
body.about .about__container figure {
  grid-area: portrait;
}
@media (min-width: 768px) {
  body.about .about__container figure {
    position: sticky;
    top: var(--gutter);
  }
}
body.about .about__container figure img {
  max-height: 50vh;
}
@media (min-width: 768px) {
  body.about .about__container figure img {
    max-height: unset;
  }
}

body.work .hero {
  display: flex;
  justify-content: center;
}
:root {
  --typography--leading: 1.3;
  --typography--leading--heading: 1.1;
  --typography--size: 1.6rem;
  --typography--size--card: calc(var(--typography--size) * 1.45);
  --typography--size--h1: calc(var(--typography--size) * 2.5);
  --typography--size--h2: calc(var(--typography--size) * 2);
  --typography--size--caption: calc(var(--typography--size) * 0.875);
  --gutter: 2.0rem;
  --max-width: 110.0rem;
  --color--white: #FAFAFA;
  --color--blue: #00F;
  --color--gray: #ddd;
  --color--black: #000;
  --transition--timing: 500ms;
  --transition: var(--transition--timing) all;
  scroll-behavior: smooth;
}
@media (max-width: 320px) {
  :root {
    --typography--size--card: calc(var(--typography--size) * 1.375);
  }
}
@media (min-width: 768px) {
  :root {
    --typography--size: 1.8rem;
    --typography--size--card: calc(var(--typography--size) * 2.5);
    --typography--size--h1: calc(var(--typography--size) * 3);
    --typography--size--h2: calc(var(--typography--size) * 2);
    --gutter: 4.0rem;
  }
}

h1,
h2 {
  --typography--leading: var(--typography--leading--heading);
  scroll-margin-top: calc(var(--margin--vertical--2) + var(--typography--size--base) * var(--typography--cap-height) * 3);
}

h1 {
  --typography--size: var(--typography--size--h1) ;
}

h2 {
  --typography--size: var(--typography--size--h2);
}

h2 span[id] {
  margin-top: calc(-1 * var(--gutter));
  padding-top: calc(1 * var(--gutter));
  width: fit-content;
}
h2[aria-label="MoMA logo"] {
  display: flex;
  align-items: center;
  height: var(--typography--cap);
}
h2:hover a {
  visibility: visible;
}
h2 a {
  margin-left: 0.5ch;
  display: inline-block;
  visibility: hidden;
}

body.frozen {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */