@import url(/fonts/stylesheet.css);
:root {
  font-size: 62.5%; }

:root * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-kerning: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

:root {
  --typography--size: 1.8rem;
  --typography--size--h1: calc(var(--typography--size) * 2);
  --line-height: 1.25;
  --line-height--heading: 1.1;
  --tracking: -0.1rem;
  --gutter: 2.0rem;
  --max-width: 102.4rem; }
  @media (min-width: 768px) {
    :root {
      --typography--size: 2.4rem;
      --gutter: 4.0rem; } }
body {
  font-size: var(--typography--size);
  font-family: 'Arnhem';
  letter-spacing: var(--tracking);
  line-height: var(--line-height);
  background-color: #FAFAFA;
  margin: 0 var(--gutter); }

main {
  margin: 0 auto;
  max-width: var(--max-width); }

h1 {
  font-size: var(--typography--size--h1);
  line-height: var(--line-height--heading); }

header {
  margin: var(--gutter) 0; }
  @media (min-width: 768px) {
    header {
      margin: calc(6 * var(--gutter)) 0; } }
a {
  color: #00F;
  text-decoration-color: var(--color);
  text-decoration-line: underline;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.15em; }
  a:visited {
    color: #00F; }
  a:hover {
    text-decoration: none; }
  a:focus-visible {
    outline: 0.3rem solid rgba(0, 0, 0, 0.7);
    outline-offset: 0.4rem;
    border-radius: 0.25rem; }

p, ul {
  margin-top: 1em; }
  p:first-child, ul:first-child {
    margin-top: unset; }
