@import '/fonts/arnhem/stylesheet.css';
@import '/fonts/haas/stylesheet.css';


%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}


%font--arnhem {
  @extend %--shoulders;

  --typography--cap-height:       0.621; // In em.
	--typography--x-height:         0.456;
	--typography--shoulder--bottom: 0.265; // Vertical centering in Chrome’s bounding box, across most sizes.
  
  --typography--inset--left:  0;
	--typography--inset--right: 0;
  --typography--tracking: -0.0222;

  --typography--underline:         0.06;
	--typography--underline--shift: -0.06;

  font-family: 'Arnhem', serif, sans-serif;
}

%font--haas {
  @extend %--shoulders;
  
  --typography--cap-height:       0.744; // In em.
	--typography--x-height:         0.537;
	--typography--shoulder--bottom: 0.133; // Vertical centering in Chrome’s bounding box, across most sizes.
  
  --typography--inset--left:  0;
	--typography--inset--right: 0;
  --typography--tracking: 0.0;

  --typography--underline:         0.06;
	--typography--underline--shift: -0.06;
 
  font-family: 'NeueHaas', sans-serif;
}

%font--underline {
	--typography--decoration-thickness: calc(var(--typography--underline) * 1em);
	--typography--underline-offset:     calc(var(--typography--underline--shift) * 1em);

	text-decoration-color:     var(--color);
	text-decoration-line:      underline;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset:     calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
}

%font--underline--disable, .no-underline {
	text-decoration: initial;
}