@use 'typography';

figure {
  @extend %type--layout;

  --typography--size: var(--typography--size--caption);

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--typography--cap); 
  
  &.not-loaded {
    opacity: 0;
  }

  button {
    // width: 100%;
    height: 100%;

    &:has(div.image-mat) {
      width: 100%;
    }
  }

  div {
    height: 100%;
    border-radius: calc(0.5 * var(--typography--cap));
    
    overflow: hidden;

    &.image-mat {
      width: 100%;
      background-color: var(--mat-color, #eee);
      padding: calc(1 * var(--gutter));
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center; 

      &:not(.plain) {
        img, video {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 1% / 1.5%;
        }
      }
    }
  }

  img, video {
    max-height: 80vh;
    width: auto;
    display: block;
  }
}

.lightbox {
  display: none;
  z-index: 2;
  --margin--top: 0;
  background-color: var(--color--white);
  position: fixed;
  inset: 0;
  color: var(--color--black);
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &__close {
    position: absolute;
    top: var(--gutter);
    right: var(--gutter);
  }

  figure {
    width: 100%;
    height: 100%;
    display: block;

    div {
      padding: calc(2 * var(--gutter));
      border-radius: unset;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      &:not(.image-mat) img, video {
        border-radius: calc(0.5 * var(--typography--cap));
      }
    
      > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
}