@use 'fonts';
@use 'typography';

a {
  @extend %font--underline;

  color: var(--color--link, var(--color--blue));
  display: inline-block;

  &:visited {
    color: var(--color--link, var(--color--blue));
  }

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    @extend %type--layout;
    
    outline: calc(var(--typography--underline) * 2em) solid rgba(0, 0, 0, .7);
    outline-offset: calc(var(--typography--underline--shift) * -1em);
    border-radius: 0.25rem;
  }
}