@use 'fonts';
@use 'typography';

a, button:not([disabled]) {
  @extend %font--underline;

  transition: text-decoration-color linear calc(0.25 * var(--transition--timing));
  color: var(--color--link, var(--color--blue));
  display: inline-block;
  cursor: pointer;

  &:visited {
    color: var(--color--link, var(--color--blue));
  }

  &:hover {
    // text-decoration: none;
    text-decoration-color:    rgba(0, 0, 0, 0);

    > figure {
      > div.image-mat, > img, > video {
        box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.22);
        // transform: scale(1.025);
      }
    }
  }

  > figure {
    > div.image-mat, > img, > video{
      box-shadow: none;
      transition: box-shadow linear calc(0.25 * var(--transition--timing));
    }
  }

  &:focus-visible {
    @extend %type--layout;
    
    outline: calc(var(--typography--underline) * 2em) solid rgba(0, 0, 0, .7);
    outline-offset: calc(var(--typography--underline--shift) * -1em);
    border-radius: 0.25rem;
  }

  &:has(img, video):focus-visible {
    outline-offset: calc(0.5 * var(--typography--cap));
  }
}