@use 'reset';
@use 'mixins' as *;
@use 'fonts';
@use 'typography';
@use 'sprites';
@use 'links';
@use 'images';

@use 'layout';
@use 'markdown';
@use 'nav';
@use 'home';
@use 'about';
@use 'work';

:root {
  @extend %font--haas;

  --typography--leading: 1.25;
  --typography--leading--heading: 1.1;

  --typography--size: 1.6rem;
  --typography--size--card: calc(var(--typography--size) * 1.45);
  --typography--size--h1: calc(var(--typography--size) * 2.5);
  --typography--size--h2: calc(var(--typography--size) * 2);
  --typography--size--caption: calc(var(--typography--size) * 0.875);

  --gutter: 2.0rem;
  --max-width: 110.0rem;

  --color--white: #FAFAFA;
  --color--blue: #00F;
  --color--gray: #ddd;
  --color--black: #000;

  --transition--timing: 500ms;
  --transition: var(--transition--timing) all;

  scroll-behavior: smooth;

  @include tiny {
    --typography--size--card: calc(var(--typography--size) * 1.375);
  }

  @include desktop {
    --typography--size: 1.8rem;
    --typography--size--card: calc(var(--typography--size) * 2.5);
    --typography--size--h1: calc(var(--typography--size) * 3);
    --typography--size--h2: calc(var(--typography--size) * 2);

    --gutter: 4.0rem;
  }
}

h1,
h2 {
  @extend %font--arnhem;
  
  --typography--leading: var(--typography--leading--heading);

  scroll-margin-top: calc(var(--margin--vertical--2) + var(--typography--size--base) * var(--typography--cap-height) * 3);
}

h1 {
  --typography--size: var(--typography--size--h1) ;
}

h2 { 
  --typography--size: var(--typography--size--h2);
}

h2[id] {
  margin-top: calc(-1 * var(--gutter));
  padding-top: calc(1 * var(--gutter));
  width: fit-content;

  &[aria-label="MoMA logo"] {
    display: flex;
    align-items: center;
    height: var(--typography--cap);
  }

  &:hover {
    a {
      visibility: visible;
    }
  }

  a {
    margin-left: 0.5ch;
    display: inline-block;
    visibility: hidden
  }
}


body.frozen {
  overflow: hidden;
}