<dl>
  {{- range . -}}
    {{- $page := . -}}
    <dt>
      <p>{{.Params.Years}}</p>
      <h3 id="{{.Title | urlize}}">
        {{- if eq .Params.Link "self" }}
          <a class="no-underline" href="{{.RelPermalink}}">{{ .Title | markdownify}}</a>
        {{- else if eq .Params.Link "none" -}}
          {{ .Title | markdownify}}
        {{- else -}}
          {{ $title := split (.Title | markdownify) " " }}
          <a class="no-underline" href="{{.Params.Link}}">
            {{- range $idx, $val := $title}}
              {{- if eq $idx (sub (len $title) 1)}}<nobr>{{end -}}
              {{$val | safeHTML}}
            {{end -}}
            {{ partial "sprites/arrow.html" (dict "Class" "upper-right") }}
            </nobr>
          </a>
        {{end -}}
      </h3>
    </dt>
    <dd>
      <!-- {{with .Params.Categories}}
        {{- range .}}
          {{ . }}
        {{end -}}
      {{end}} -->
      <p>
        {{ .Description | markdownify }}
      </p>
    </dd>
    {{- with .Params.PreviewImages}}
      <dd>
        <ul class="image__list">
          {{- range .}}
            {{- $title := .title -}}
            {{- $isScreenshot := eq .type "screenshot" -}}
            {{- $matColor := .mat -}}
            {{- with $page.Resources.GetMatch .src}}
              <li {{if $isScreenshot }}class="screenshot"{{end}}>
                {{if $isScreenshot }}<div class="image-mat" {{if $matColor }}style="--mat-color: {{$matColor | safeCSS}};"{{end}}>{{end}}
                  <img src="{{((.Resize "900x").RelPermalink)}}" alt="{{$title}}"/>
                  {{if $isScreenshot }}</div>{{end}}
              </li>
            {{end -}}
          {{end -}}
        </ul>
      </dd>
    {{end -}}
  {{ end -}}
</dl>