{{define "bodyMeta"}}class="home"{{end}}
{{ define "main" }}
  <header>
    <div>
      <section>
        <article>
          {{- with .Site.Params.Tagline }}
            <h1>{{. | safeHTML}}</h1>
          {{end -}}
          {{.Content}}
        </article>
      </section>
    </div>
    <div>
      <section>
        {{ partial "footer.html" . }}
      </section>
    </div>
  </header>
  <main>
    {{ partial "nav.html" . }}
    
    {{- $workSections := (.Site.GetPage "Section" "work").Pages -}}
    {{- range (sort $workSections ".Params.Order")}}
      {{- if gt (len .Pages) 0 }}
        <section class="work">
          {{- if not (eq .Params.HideTitle true)}}
            {{- if eq .Title "MoMA"}}
              <h2 aria-label="MoMA logo"><span id="moma"></span>{{partial "sprites/moma.html"}}<a class="no-underline" href="#{{ .Title | urlize}}">#</a></h2>
            {{- else -}}
              {{partial "heading-anchor.html" .Title}}
            {{end -}}
            <article>{{.Description | markdownify}}</article>
          {{end -}}
          {{- $works := .RegularPages}}
          <ul class="work__list" {{with .Params.Grid}}style="--grid: {{. | safeCSS }};"{{end}}>
            {{- range (sort $works ".Params.Order")}}
              {{- $page := . -}}
              <li {{with .Params.Span}}style="--span: {{. | safeCSS }};"{{end}}>
                <a class="no-underline"
                  {{- if .Params.Link}}
                    href="{{.Params.Link}}"
                  {{- else -}}
                    href="{{.RelPermalink}}"
                  {{end -}}
                  >
                  {{- with .Params.Preview}}
                    {{- if .video}}
                      {{- $media := $page.Resources.GetMatch .video -}}
                      {{partial "figure.html" (dict "Video" $media "Title" .title "IsScreenshot" (eq .type "screenshot") "MatColor" .mat "DisableInteraction" true "Plain" .plain) }}
                    {{else}}
                      {{- $media := $page.Resources.GetMatch .image -}}
                      {{partial "figure.html" (dict "Image" ($media.Resize "1100x") "Title" .title "IsScreenshot" (eq .type "screenshot") "MatColor" .mat "DisableInteraction" true "Plain" .plain) }}
                    {{end -}}
                  {{end -}}
                  <article>
                    <h3 id="{{.Title | urlize }}">{{.Title}}{{if .Params.Link}}{{ partial "sprites/arrow.html" (dict "Class" "upper-right") }}{{end}}</h3>
                    <p>{{.Description | markdownify}}</p>
                  </article>
                </a>
              </li>
            {{end -}}
          </ul>
        </section>
      {{end -}}
    {{end -}}
      
    <section class="chronology">
      <!-- <h2 id="chronology">Chronology</h2> -->
      {{partial "heading-anchor.html" "Chronology"}}
      {{- $pages := (sort (where .Site.RegularPages "Type" "chronology") "File.Path").Reverse -}}
      {{- partial "chronology/list.html" (where $pages "Params.Ongoing" true) -}}
      {{- partial "chronology/list.html" (where $pages "Params.Ongoing" false) -}}
    </section>
  </main>
{{ end }}

{{define "footer"}}
{{end}}