{{define "bodyMeta"}}class="home"{{end}}
{{ define "main" }}
  <header>
    <div>
      <section>
        <article>
          {{- with .Site.Params.Tagline }}
            <h1>{{. | safeHTML}}</h1>
          {{end -}}
          {{.Content}}
        </article>
      </section>
    </div>
    <div>
      <section>
        {{ partial "footer.html" . }}
      </section>
    </div>
  </header>
  <main>
    {{ partial "nav.html" . }}
    <section class="chronology">
      <!-- <h2 id="chronology">Chronology</h2> -->
      {{partial "heading-anchor.html" "Chronology"}}
      {{- $pages := (sort (where .Site.RegularPages "Type" "chronology") "File.Path").Reverse -}}
      {{- partial "work/list.html" (where $pages "Params.Ongoing" true) -}}
      {{- partial "work/list.html" (where $pages "Params.Ongoing" false) -}}
    </section>
  </main>
{{ end }}

{{define "footer"}}
  <script>
    const cardColor = getComputedStyle(document.querySelector('header')).backgroundColor;
    const mainColor = getComputedStyle(document.querySelector('main')).backgroundColor;

    const renderThemeColor = () => {
      let themeColor = mainColor;
      if (document.querySelector('main').getBoundingClientRect().top > 0) {
        themeColor = cardColor;
      }
      document.querySelector('meta[name="theme-color"]').setAttribute('content',  themeColor);
    }

    const renderPage = () => {
      if (document.querySelector('main').getBoundingClientRect().top > 0) {
        document.querySelector('header').classList.remove('show-footer');
      } else {
        document.querySelector('header').classList.add('show-footer');
      }
    }

    window.addEventListener('scroll', renderThemeColor);
    window.addEventListener('scroll', renderPage);

    renderPage();
    renderThemeColor();
  </script>
{{end}}