{{define "bodyMeta"}}class="about"{{end}}

{{define "title"}}
  {{.Title | markdownify | plainify}} — {{ .Site.Title }}
{{end}}

{{ define "main" }}
  <main>
    {{ partial "nav.html" . }}
    <section>
      <header>
        <h1>{{.Title | markdownify}}</h1>
      </header>
    </section>
    <section class="about__container">
      <article>
        {{.Content}}
        <p>Site last updated on {{ now.Format "Mon, Jan 2, 2006"}}.</p>
      </article>
      <figure>
        {{- $image := .Resources.GetMatch .Page.Params.Profile.Src -}}
        <img src="{{($image.Resize "656x").RelPermalink}}" alt="{{.Page.Params.Profile.Alt}}">
        <p>{{.Page.Params.Profile.Credit | markdownify}}</p>
      </figure>
    </section>
    <section>
      {{ partial "footer.html" . }}
    </section>
  </main>
{{ end }}

{{define "footer"}}
  
{{end}}